header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
}

nav a {
  text-decoration: none;
  color: #0077b6;
  font-weight: bold;
  margin: 0 10px;
}

nav a:hover {
  color: #005f8a;
}


footer{
    text-align: center;
}

html{
    background-color: #e6f4f1;
}

figure{
    text-align: center;
}

h1{
    text-align: center;
}

.center{
    text-align: center;
}

.form-container {
      background: #e4feff;
      padding: 20px;
      border-radius: 10px;
      max-width: 500px;
      margin: auto;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .form-group {
      margin-bottom: 15px;
    }
    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
    input, textarea {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    button {
      background-color: #0077b6;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    button:hover {
      background-color: #005f8a;
    }
    .confirmation {
      color: green;
      margin-top: 20px;
    }